---
permalink: /
---
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="{{ site.description }}">
		{% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			{% if site.front_img %}
			<div id="bg" style="background: #348cb2 url('{{ site.front_img_path }}') bottom left; background-repeat: no-repeat"></div>
			{% else %}
			<div id="bg"></div>
			{% endif %}
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>{{ site.name }}</h1>
						<p>{{ site.description }}</p>
						<nav>
							<ul>
								<li><a class="icon fa-weibo" href="https://weibo.com/{{ site.weibo_username }}"><span class="label">微博</span></a></li>

								<!--<li><a class="icon fa-camera" href="{{ site.baseurl }}{{ site.gallery_url }}"><span class="label">Gallery</span></a></li>-->
								
								<li><a class="icon fa-book" href="{{ site.baseurl }}{{ site.blog_url }}"><span class="label">Blog</span></a></li>

								<li><a class="icon fa-envelope" href="mailto:{{ site.email }}"><span class="label">Email</span></a></li>
								
								<li><a class="icon fa-github-alt" href="https://github.com/{{ site.github_username }}"><span class="label">GitHub</span></a></li>							
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; {{ site.name }}. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>
					</footer>

			</div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>